# Operating System Files
Thumbs.db
desktop.ini
.DS_Store
*.stackdump

# Editor & IDE Directories
.vscode/
.idea/
*.swp
*.swo

# Temporary & Log Files
*.log
tmp/
temp/

# Raw Design Files & Archives
*.pptx
*.zip
New folder/

# Raw Photo Uploads & Unused Assets
75*.jpg
my-cloud-ex4100-Hero*
nas-product-qnap-red*
WD-Red-Pro-feature1*
